<div class="stretch">

    <div class="flex-container row wrap">
        <h1 class="stretch"><span><i class="fa fa-headphones page-title-icon"></i></span>Browse All Artists</h1>
        <div style="flex: .5;margin: 21px 0px 10.5px 0px;">
            <i class="fa fa-search page-title-icon" style="padding-top:4px;float: left;"></i>
            <input type="text" class="form-control" ng-model="searchTerm" ng-model-options="{debounce: 2000}" name="searchbox" style="width: 90%" placeholder="search for artists"/>
        </div>

    </div>
    <ul class="flex-container wrap">
        <li class="artist-box" ng-repeat="artist in artists | orderBy: 'name'">
            <div id="image">
                <i class="fa fa-music"></i>
            </div>
            <div id="description">
                <a data-toggle="modal" ng-click="getDescription(artist)">{{artist.name}}</a>
            </div>
            <div class="music-player" ng-click="play(artist)">
                <i class="fa fa-play"/>
                Play
            </div>
        </li>

    </ul>

    <!-- Modal -->
    <div id="artistModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{currentArtist.name}}</h4>
                </div>
                <div class="modal-body" style="font-size: 14px;">
                    <label for="img">Image</label>
                    <div id="img" style="margin-bottom: 4px;">{{currentArtist.img}}</div>
                    <label for="url">URL</label>
                    <div id="url">{{currentArtist.url}}</div>
                    <label for="tags"></label>
                    <div id="tags"  class="flex-container wrap">
                        <div ng-repeat="tag in currentArtist.tags" style="font-size: 16px;margin-right: 6px;">
                            <i class="fa fa-tag"/>&nbsp&nbsp{{tag.description}}
                        </div>
                    </div>
                </div>
                <div style="padding: 6px;" class="flex-container wrap">
                    <select class="form-control" ng-model="currentTag" ng-options="tag.description for tag in allTags"
                            style="height: 40px;margin: 6px 4px 6px 0;flex:1;">
                    </select>
                    <button style="width: 100px;margin-right: 6px" class="btn btn-primary" ng-click="addTag()">Add</button>
                </div>
            </div>

        </div>
    </div>
</div>

