@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

html, body {
    font: 12px/1 'Montserrat', sans-serif;
    color: #333;
    background: #333;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}
footer{
    padding: 0 12px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background: #333;
    text-align: left;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
footer i{
    margin-right: 24px;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}
.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row {
    flex-flow: row;
}

.stretch{
    flex:1;
}
nav {
    height: 75px;
}

.sidebar{
    width: 220px;
}
.content {
    overflow-x: hidden;
    padding: 10px 10px 60px 10px;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover{
    background: #eee;
    cursor: pointer;
}

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;
}
.title {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2a2a2a;
}

.nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-size: 12px;
    color: #eee;
    border-bottom: 1px solid #222;
}
.nav li a:hover {
    background: #444;
    cursor: pointer;
}
.nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: #444;
}
.nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
}
.nav li:nth-child(1) a:before { content: '\f007'; }
.nav li:nth-child(2) a:before { content: '\f025'; }
.nav li:nth-child(3) a:before { content: '\f02c'; }
.nav li:nth-child(4) a:before { content: '\f08b'; }



.page-title-icon{
    font-size: 32px;
    margin-right: 10px;
    display: inline-block;
}
.artist-box{
    width: 200px;
    height: 200px;
}
.friends-box{
    width: 200px;
    max-height: 350px;
}
.new-friends-box{
    max-height: 350px;
    overflow: auto;
}
.music-player{
    cursor: pointer;
    font-size: 22px;
    margin-top: 6px;
    text-align: center;
    height: 25px;
}
.music-player:hover{
    color: #0066bb;
}
.friends-box #image,#image-friend{
    padding-top: 6px;
    font-size: 96px;
    text-align: center;
    width: 200px;
    height: 100px;
}
.artist-box #image{
    padding-top: 6px;
    font-size: 96px;
    text-align: center;
    width: 200px;
    height: 130px;
}
.artist-box #description{
    text-align: center;
    font-size: 18px;
}
.artist-box #description:hover{
    cursor: pointer;
}
.friends-box #description,#description-friend{
    text-align: center;
    font-size: 12px;
}


.form-signin {
    position: relative;
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}
.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;

}

.main-alert {
    position:absolute;
    bottom: 70px;
    left: 5px;
    right: 5px;
    max-width: 400px;
    margin: 0 auto;
}
.alert-hidden {
    visibility: hidden;
}

.view-animate-container{
    position: relative;

}

.view-animate.ng-enter,
.view-animate.ng-leave {
    position: absolute;
    left: 0;right: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.view-animate.ng-enter{
    opacity: 0;
    -webkit-transform: scale3d(0.96,0.96,0.96);
    -moz-transform: scale3d(0.96,0.96,0.96);
    transform: scale3d(0.96,0.96,0.96);
}
.view-animate.ng-enter-active{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.view-animate.ng-leave{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.view-animate.ng-leave-active{
    opacity: 0;
}
