<div class="stretch">
    <h1> Welcome to ADMUSIC, {{user.email}}!</h1>
    <h2>See your recommendations below</h2>
    <div id="recommendations" class="flex-container wrap row">
        <div style="flex: 1;margin-right: 10px">
            <h3><span><i class="fa fa-list-ol"/></span>&nbsp;&nbsp;Recommendations</h3>
            <select class="form-control" style="margin-top: 9px" ng-model="currentRec" ng-change="recommendArtists()" ng-options="rec.description for rec in recTypes"/>
            <ol class="rectangle-list">
                <li ng-repeat="rec in recommendations">
                    <a>{{rec.name}}&nbsp;({{rec.count}})</a>
                </li>
            </ol>
        </div>
    </div>
    <div id="popular" class="flex-container wrap row">
        <div style="flex: 1;margin-right: 10px">
            <h3><span><i class="fa fa-list-ol"/></span>&nbsp;&nbsp;Popular Artists</h3>
            <select class="form-control" style="margin-top: 9px" ng-model="currentPop" ng-change="popularArtists()" ng-options="pop.description for pop in popTypes"/>
            <ol class="rectangle-list">
                <li ng-repeat="rec in popular">
                    <a>{{rec.name}}&nbsp;({{rec.count}})</a>
                </li>
            </ol>
        </div>

<!--        <div style="flex: 1;margin-right: 10px">
            <select class="form-control" style="margin-top: 9px" ng-change="getRankByGivenTag()" ng-model="currentTag" ng-options="tag.description for tag in allTags"/>
            <ol class="rectangle-list">
                <li ng-repeat="rec in rankByGivenTag">
                    <a>{{rec.name}}&nbsp;({{rec.count}})</a>
                </li>
            </ol>
        </div>-->
    </div>
    <div id="tags" class="flex-container wrap row">
        <div style="flex: 1;margin-right: 10px">
            <h3><span><i class="fa fa-list-ol"/></span>&nbsp;&nbsp;Artists by Tag</h3>
            <select class="form-control" style="margin-top: 9px" ng-change="getRankByGivenTag()" ng-model="currentTag" ng-options="tag.description for tag in allTags"/>
            <ol class="rectangle-list">
                <li ng-repeat="rec in rankByGivenTag">
                    <a>{{rec.name}}&nbsp;({{rec.count}})</a>
                </li>
            </ol>
        </div>

    </div>
</div>
